<form action="{action_url}" method="post">
	  <fieldset>  
	    <div class="control-group">
	      <label class="control-label" >Название:  </label>
	      <div class="controls"><input type="text" name="category_name" value="{category_name}" ></div> 
	    </div>
	  </fieldset>
	  <fieldset>  
	    <div class="control-group">
	      <label class="control-label" >Порядок:  </label>
	      <div class="controls"><input type="text" name="category_number" value="{category_number}" ></div> 
	    </div>
	  </fieldset>
	  <div class="clear"></div> 
	  <fieldset>
	    <div class="control-group">              
	      <div class="add button"><input type="submit" value="{submit_value}"></div>
	      <div class="cancel button"><a href="admin.php?page=category">Отмена</a></div>
	    </div>
	  </fieldset>  
</form>
